.home-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vw;
    padding-top: 60px;
    align-items: center;
}

.styled-text {
    font-size: 15vw;
    font-family: Arial, san-serif;
    background: linear-gradient(to bottom, rgb(3, 3, 242), rgb(81, 32, 197), rgb(115, 30, 151));
    font-weight: bold;
    line-height: 0.9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;

}

.styled-text span {
    position: relative;

}

.bar-and-pen {
    margin-top: -74.5px;
}

.bakhtech-texts {
    font-family: arial;
    font-size: 20px;
    color: rgb(56, 54, 54);
    margin-top: 15px;
}

.get-started-button {
    padding: 17px 45px;
    color: white;
    background-color: rgba(2, 2, 32, 0.8);
    border-style: none;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.get-started-button:hover {
    box-shadow: 5px 10px 7px rgba(71, 93, 190, 0.1);
    margin-top: 18px;
    transition: 0.3s;
}